@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background-repeat: repeat;
  background-position: center;
  background-color: black;
  background-image: url(../assets/images/stars.png);
  z-index:-2;
}

.twinkling{
  background:transparent url(../assets/images/twinkling.png) repeat top center;
  z-index:-1;
  animation:move-twink-back 300s linear infinite;
}
